body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.content {
    max-width: 90vw;
    padding: 5px;
    margin: auto;
    background-color: burlywood;
    border-radius: 3%;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    border-radius: 2%;
}

.centered {
    text-align: center;
}

.centered ul {
    display: inline-block;
    text-align: left;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: bisque;
}